body {
  font-family: "Courier New", Courier, monospace;
}
header {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
footer {
  display: flex;
  justify-content: center;
}
footer span {
  font-weight: bold;
}
